@charset "utf-8";
.red{
  color: red;
}

/*switch_detail.html样式*/
* {
  font-family: "Microsoft YaHei";
}

a:hover {
  text-decoration: none; }

#header {
  background-color: #5994db; }

table {
  margin-bottom: 200px; }
table th, table tr {
  text-align: center; }

.center-header {
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
  line-height: 16px; }
.center-header .center-header-ani {
  height: 3px;
  width: 60px;
  display: inline-block;
  background-color: #5994db;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out; }
.center-header:hover .center-header-ani {
  width: 170px; }

.click-tip {
  margin-top: 30px;
  margin-bottom: 70px; }

#label {
  padding-left: 0;
  padding-right: 0; }

.head-info {
  margin-left: 0;
  margin-right: 0; }


/**tenant_manage.html样式*/
#tenant-manage-block{
  .disabled{
    color: #d8dbe2;
  }
   #add-tenant,#add-IP,#tenant-import{
    font-size: 26px;
    transition: all 0.4s ease-in-out;
  }
  #tm-tenant-list{
    .well{
      padding-top: 12px;
      padding-bottom: 1px;
    }
  }


  #import-submit{
    background-color: #d9edf7;
    margin-top: 20px;
  }

}

#import-tenants{
  #file-upload-con{
    padding-left: 25px;

  }
  #upload-file{
    margin: 25px 0;
  }
  #uploadprogress{
    width: 90%;
    display: block;
    margin-bottom: 25px;
  }

  #import-tips{
    margin-top: 5px;
    background-color: #b3ada8;
    border-radius: 10px;
    padding: 20px 10px;
  }
}

#add-IPG-block{
  .modal-body{
    font-size: 14px;
    padding-left:20px;
    padding-right: 20px;
    .row{
      margin: 10px 0;
      h2{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
      }
      label{
        font-weight: normal;
        //text-align: center;
        font-size: 15px;
      }
      .input-group{
        margin: 15px 0;
      }
      .input-time{
        input[type='checkbox']{
         margin: 0;
         width: 30px;
         height: 30px;
      }
      }
      .form_datetime{
        margin: 0;
        input{
        display: inline-block;
      }
      }
      .col-sm-3>label{
        margin: 15px 0 0 0;
        line-height: 34px;
        display: block;
      }
      select{
        width: 403px;
      }
    }
  }
  #tenant-add-tips,#tenant-change-tips{
    color: red;
  }
}

#tenant-manage-block,#sub-account-block{
  #tm-tenant-list,#tm-IP-list,#sub-account-list{
    overflow: auto;
  }
  .row{
    margin: 0;
  }
  .icon-font{
    cursor: pointer;
  }
  .deleteTe:hover,.ed-bu-tenant:hover{
    color: red;
  }
  h3{
    font-size: 20px;
  }
  .tm-column{
    padding: 0;
  }
  .well{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: content-box;
  }
  .chosed-tenant{
    background-color: #d9edf7;
  }
  .chosed-IPGroup{
    background-color: #fcf8e3;
  }
  .chosed-IP{
    background-color: #dff0d8;
  }
  .panel-warning .well{
    background-color: #dff0d8;
    .IPG-close-btn{
      line-height: 34px;
      span:hover{
        color: red;
      }
    }
  }

  .share{
    color: #333333;
  }
  .not-share{
    color: #3c763d;
  }
  .sub-account-disabled{
    color: #c2c2c2;
  }
}
/*子账户管理页面的样式*/
#sub-account-block{

  #add-sub-btn,#editor-sub-btn{
    font-size: 26px;
    transition: all 0.4s ease-in-out;
  }
  #sub-info-list{
    padding-bottom: 50px;
    label{
      font-size: 15px;
      font-weight: normal;
      span{
        color: red;
        font-size: 20px;
      }
    }
    .row{
      padding-top: 10px;
    }
  }
}


.tenant-tips,.te-error,#quick-add-tips,#IP-tips,#add-IPG-tips{
  color: red;
}
.no-padding{
  padding: 0 !important;
}

#intro{
  background-color: #b8b8b8;
  padding: 8px 5px;
  border-radius: 5px;
}



