<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta name="keywords" content="SDN,sdn,监控,基于SDN的监控">
		<meta name="description" content="基于SDN的监控">
		<meta name="robots" content="all" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>用户登录</title>
		<link rel="stylesheet" href="/static/css/sdn.css">
		<link rel="stylesheet" href="/static/css/font/login.css">
		<!--<link rel="icon" href="/static/images/icon.png" type="image/x-icon">-->
	</head>

	<body>
		<div id="pic">
			<a href="/first_page"><img src="/static/images/whitebg.png" width="115px" height="35px"></a>
		</div>
		<div id="container">
			<ul>
				<li>主账户登录</li>
				<li>子账户登录</li>
			</ul>
			<div>
				<form action="/user/demo_login" id="form" method="post">
					<label for="username">邮箱&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="email" id="username" name="user_email" value="demo@geehoo.net" readonly="readonly"><br/>
					<label for="childuser">用户&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="password" id="childuser" name="sub_account" value="read" readonly="readonly"><br/>
					<label for="password">密码&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="password" id="password" name="password" value="336ebbb2179beaa7340a4f1620f3af40" readonly="readonly"><br/>
					<div id="embed-captcha"></div>
					<p id="wait" class="show">正在加载验证码......</p>
					<p id="notice" class="hide">请先拖动验证码到相应位置</p>
					<br/>
					<input type="submit" id="submit" value="登 录">
				</form>
			</div>
		</div>

		<div id="footer">
			<p>&copy; Copyright 2016-2017 西安极互云网络科技有限公司 陕ICP备17006213号-1</p>
		</div>
	</body>
	<script src="https://static.geetest.com/static/tools/gt.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/geehoo_md5.js"></script>
	<script src="/static/js/demo_login.js"></script>
</html>